html
  head
    title Mi Aplicación de Chat Anónimo
    link(rel="stylesheet", href="/stylesheets/styles.css")

  body(class="bg-black")
    header
      h1(class="text-blue-50 text-center text-7xl pt-8 pb-10") Tunnel Foi

    block content

    footer
      p(class="text-gray-300 text-center") © 2023 | Producción por Dark0