html
  head
    title Mi Aplicación de Chat Anónimo
    link(rel="stylesheet", href="/stylesheets/styles.css")

    style.
      body {
        font-family: Arial, sans-serif;
      }

      #chat-container {
        max-height: 200px;
        overflow-y: auto;
        border: 1px solid #ccc;
        padding: 10px;
      }

      #chat-form {
        margin-top: 10px;
      }

  body(class="bg-black")
    header
      h1(class="text-blue-50 text-center text-7xl pt-8 pb-10") Tunnel Foi

    block content

    footer
      p(class="text-gray-300 text-center") © 2023 | Producción por Dark0