html
  head
    title Mi Aplicación de Chat Anónimo
    link(rel="stylesheet", href="/stylesheets/style.css")

  body
    header
      h1 Tunnel Foi

    block content

    footer
      p © 2023 | Producción por Dark0