extends layout

block content
  h2 Iniciar Sesión

  // Aquí puedes agregar mensajes de error si es necesario
  //- if (error)
  //-   p.error-message= error

  form(action="/login", method="POST")
    label(for="username") Nombre de Usuario:
    input(type="text", id="username", name="username", required)

    label(for="password") Contraseña:
    input(type="password", id="password", name="password", required)

    button(type="submit") Iniciar Sesión
